* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 50px;
  padding: 0;
  background-image: url("https://www.coolmathgames.com/sites/default/files/TicTacToe_OG-logo.jpg");
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 60px;
  font-weight: 500;
  line-height: 40px;
  height: 85px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 85px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 30px;
  color: greenyellow;
  font-family: "Times New Roman", Times, serif;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
  margin-top: 10px;
}
